In [37]:
# Библиотека для работы с табличными данными
import pandas as pd

# Самостоятельная практика №1


*   Прочесть с помощью pandas файл **california_housing_test.csv**, который находится в папке **sample_data**
*   Посмотреть сколько в нем строк и столбцов
*   (Доп) Определить какой тип данных имеют столбцы
*   (Доп) Проверить есть ли в файле пустые значения

In [38]:
# Прочесть с помощью pandas файл **california_housing_test.csv**, который находится в папке **sample_data**
df = pd.read_csv('C:\python\lesson_11/california_housing_test.csv')

In [39]:
# Посмотреть сколько в нем строк и столбцов
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [40]:
# Определить какой тип данных имеют столбцы
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [41]:
# Проверить есть ли в файле пустые значения
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

# Самостоятельная практика №2


*   Показать **median_house_value** где **median_income < 2**
*   (Доп) Показать данные в первых 2 столбцах
*   (Доп) Выбрать данные где **housing_median_age** < 20 и **median_house_value** > 70000

In [42]:
# Показать **median_house_value** где **median_income < 2**
df[(['median_house_value']) | (df['median_income'] < 2)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [43]:
# Показать данные в первых 2 столбцах
df[['longitude', 'latitude']]

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

In [44]:
# Выбрать данные где **housing_median_age** < 20 и **median_house_value** > 70000
df[(df['housing_median_age'] < 20) | (df['median_house_value'] > 7000)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

# Самостоятельная практика №3

  
*   Определить какое максимальное и минимальное значение **median_house_value**
* (Доп) Показать максимальное **median_house_value**, где **median_income** = 3.1250
*  (Доп) Узнать какая максимальная **population** в зоне минимального значения **median_house_value**

In [45]:
# Определить какое максимальное **median_house_value**
print(df['median_house_value'].max()) 
# Определить минимальное значение **median_house_value**
print(df['median_house_value'].min())

500001.0
22500.0

In [46]:
# Показать максимальное **median_house_value**, где **median_income** = 3.1250
df[['median_house_value']].median()

median_house_value    177650.0
dtype: float64